/* Post related formatting */
.post {
    margin-bottom: 20px;
    border: none;
}

.card-header {
    background-color: #3AAFA9;
    color: #17252A;
}

.card-footer {
    background-color: #3AAFA9;
    color: #17252A;
}

.card-body {
    background-color: #FEFFFF;
}

.card-title {
    color: #3AAFA9;
}

.card-text {
    color: #17252A;
}

.posts {
    width: 100%; 
    height: 100%;  
    margin: 0px;
}

.postholder {
    height: 100%;
}

.postlist {
    height: 100%;
    background-color: #DEF2F1;
    padding: 20px;
}

.flr{
    float: right;
    margin-left: 1%;
}

h1 {
    text-align:center;
}


