/* Post related formatting */
.post {
    margin-bottom: 20px;
    border: none;
}

.card-header {
    background-color: #3AAFA9;
    color: #17252A;
}

.card-body {
    background-color: #FEFFFF;
}

.card-title {
    color: #3AAFA9;
}

.card-text {
    color: #17252A;
}

.posts {
    width: 100%; 
    height: 100%;  
    margin: 0px;
}

.postholder {
    height: 100%;
}

.postlist {
    height: 100%;
    background-color: #DEF2F1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    padding-top: 30px;
}

/* Filter Formatting*/

.filters {
    height: 100%;
    color: #17252A;
    background-color: #2B7A78;
    padding: 30px 30px;
}

.filterbtn {
    background-color: #123C69;
    border-color: #123C69;
    color: white;
}

i:hover {
    color: red;
}

.filterbtn:hover {
    background-color: #AC3B61;
    border-color: #AC3B61;
    color: white;
}


