.navbar-dark {
    background-color: #881c1c;
}

.navbar>.container, 
.navbar>.container-fluid, 
.navbar>.container-lg, 
.navbar>.container-md, 
.navbar>.container-sm, 
.navbar>.container-xl, 
.navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.navbar-brand .logo {
    color: #fff;
    height: 30px;
    width: 40px;
    margin: 0px 10px 0px 10px;
}


.signupControls a {
    margin: 0px 40px 0px 10px;
}

ul li {
    color: black;
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: rgb(0, 0, 0);
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}

.offcanvas-header .btn-close {
    padding: .5rem .5rem;
    margin-top: -.5rem;
    margin-right: -.5rem;
    margin-bottom: -.5rem;
    background-color: white;
}

.offcanvas-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: white;
}

.home-page_page_img .recCenter {
    background-size: 100%;
}

/* Post related formatting */
.post {
    margin-bottom: 20px;
    border: none;
}

.card-header {
    background-color: #232931;
    color: #EEEEEE;
}

.card-body {
    background-color: #EEEEEE;
}

.card-title {
    color: #4ECCA3;
}

.card-text {
    color: #232931;
}

.posts {
    width: 100%; 
    height: 100%;  
    margin: 0px;
}

.postholder {
    height: 100%;
}

.postlist {
    height: 100%;
    background-color: #393E46;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    padding-top: 70px;
}

/* Filter Formatting*/

.filters {
    height: 100%;
    color: #232931;
    background-color: #4ECCA3;
    padding: 70px 30px;
}

.filterbtn {
    background-color: #123C69;
    border-color: #123C69;
}

.filterbtn:hover {
    background-color: #AC3B61;
    border-color: #AC3B61;
}


