.navbar .login-label {
    
}

.navbar .signup-label {

}

.navbar .top-logo {
    color: white;
    
}

.navbar .login-label:hover {
    text-decoration: underline;
    text-underline-offset: 18px;
    text-decoration-thickness: 3px;
}

.navbar .signup-label:hover {
    text-decoration: underline;
    text-underline-offset: 18px;
    text-decoration-thickness: 3px;
}

.offcanvas-header {
    background-color: rgb(34, 37, 41);
}

.offcanvas-header .btn-close {
    background-color: snow;
}

.offcanvas-header .offcanvas-title {
    color: white;
}


.offcanvas-body {
    background-color: rgb(34, 37, 41);
}

.offcanvas-body .navbar-nav .nav-item .nav-link {
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}


.offcanvas-body .navbar-nav .nav-item .nav-link:hover {
    color: peru;
}