body {
    background-color: #3AAFA9;
}

form {
    background-color: #FEFFFF;
    border-radius: 6px;
    border: none;
    padding: 10px;
}
textarea {
    width: 70%;
}

label {
    font-weight: bold;
    color: #2B7A78;
}

.form-check-label {
    font-weight: normal;
}