/* Post related formatting */
.post {
    margin-bottom: 20px;
    border: 2px solid #d66853;
}

.card-header {
    background-color: #d66853;
    color: white;
}

.card-body {
    background-color: #FEFFFF;
}

.card-title {
    color: #e3b505;
}

.card-text {
    color: #17252A;
}

.posts {
    width: 100%; 
    height: 100%;  
    margin: 0px;
}

.postholder {
    height: 100%;
}

.postlist {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    padding-top: 30px;
}

/* Filter Formatting*/

.filters {
    height: 100%;
    color: white;
    background-color: #212d40;
    padding: 30px 30px;
}

.filterbtn {
    background-color: #d66853;
    border-color: #d66853;
    color: white;
}

i:hover {
    color: red;
}

.filterbtn:hover {
    background-color: #c45742;
    border-color: #c45742;
    color: white;
}

.likebutton {
    background-color: white;
}


