body {
    background-color: #d66853;
}

form {
    background-color: #FEFFFF;
    border-radius: 6px;
    border: none;
    padding: 10px;
}
textarea {
    width: 70%;
}

label {
    font-weight: bold;
    color: #212d40;
}

.form-check-label {
    font-weight: normal;
}

.postBtn {
    background-color: #d66853;
    border-color: #d66853;
    color: white;
}

.postBtn:hover {
    background-color: #c45742;
    border-color: #c45742;
    color: white;
}